* {
    margin: 0;

}

header {
    background-color: black;
    
}

h1 {
    color: red;
}

a {
    color: red;
    text-decoration: none;
}

img {
    width: 300px;
}
div {
    border: solid red 1px;
    width: 300px;
}
